<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OurLottery.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CC85196A2A789A498B050901B8AED8CA9E70CD23</string>
				<key>dateExpires</key>
				<string>2019/7/27</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>UGKS794B73.cp.videocp.ccl</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>UGKS794B73</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>OurLottery.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d91a809d-2125-4cd5-9b53-c33902510e50</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: cp.videocp.ccl</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>UGKS794B73</string>
				<key>name</key>
				<string>CHEN GUAN YU</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
